


body{

    background-color: black;
    background-image: url(img/home_page/иероглифы.png);
    background-position: center;    
}

.nav {
    padding-top: 78px;
}

.nav-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
}
.scrollable-buttons {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
    padding-bottom: 10px; /* Чтобы скроллбар не перекрывал кнопки */

}
.scrollable-buttons::-webkit-scrollbar {
    height: 0%;
}
.scrollable-buttons::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}
.menu-button {
    flex: 0 0 auto;
    margin-right: 22px; /* Отступ между кнопками */
    width: 94px;
    height: 35px;
    color: black;
    border-radius: 99px;
    background-color: #FFD400;
    border: 1px solid transparent;
    display: flex;
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
    text-align: center; /* Дополнительное выравнивание текста */
    padding: 0; /* Убираем стандартные отступы кнопки */
    text-decoration: none;
}
.active {
    background-color: black;
    border-color: #FFD400;
    color: #FFD400;
}


.menu-button small{
    font-size: 16px;
}

.menu-button:last-child {
    margin-right: 0;
    padding-right: 20px; /* Отступ после последней кнопки */
}

.title-snacks {
    margin-top: 147px;
    margin-bottom: 38px;
}

.block-position{
    position: relative;
    margin-bottom: 140px;
}

.position-description{
    color: #FFD400;
    display: flex;
    width: 303px;
    height: 143px;
    border-radius: 13px;
    top: 155px;
    left: 32.5px;
    background-color: #0C0C0C;
    position: absolute;
}

.position-description .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.product-card {
    position: absolute; /* Для абсолютного позиционирования цены */
    display: flex;
    flex-direction: column;
    width: 303px;
    height: 143px;
    padding: 15px;
    top: 155px;
    background-color: #0C0C0C;
    color: #FFD400;
    left: 32.5px;
    border-radius: 13px;
}

.product-title {
  margin: 0 0 10px 0; /* Отступ снизу для описания */
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start; /* Прижимаем к левому краю */
  font-weight: 600;
}

.product-description {
  margin: 0 0 auto 0; /* auto отодвигает следующие элементы вниз */
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: left;
  align-self: flex-start;
}   

.product-weight {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  justify-content: flex-start;
  margin-top: auto; /* Прижимаем к низу */
;
}

.down-block{
    display: flex;
   
    justify-content: space-between;
}

.product-price {
    justify-content: flex-end;
    right: 100px;
    font-family: 'Montserrat', sans-serif;
    
    bottom: 16px;
    font-size: 19px;
}